.container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.cardContainer {
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px;
  width: 350px;
}
